{% extends 'base.html.twig' %}

{% block title %}Am-Stam-Gram | Tous les profils{% endblock %}

{% block body %}
    <div class="all_profiles">
        <h1>Tous les profils</h1>
        <ul>
            {% for user in users %}
                <div>
                    <li>{{ user.username }}</li>
                    <li><a href="{{ path('app_profile', {'username': user.username}) }}">Voir le profil</a></li>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
